@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .Modal{
        @apply flex items-center justify-center min-h-screen bg-gray-50
    }
    .btn{
        @apply flex gap-2 items-center justify-center py-2 px-4 font-semibold shadow-md rounded-lg
    }
    .btn.btn-light{
        @apply bg-white text-gray-500
    }
    .btn.btn-danger{
        @apply text-white bg-red-600 shadow-red-400/40
    }
    .loader-modal-bg-color{
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgb(0, 0, 0, 0.4); /* Black w/ opacity */
    }
    
    /* .loader {
        margin: 10% 45%;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #2980B9;
        border-right: 16px solid #2ECC71;
        border-bottom: 16px solid #e62020;
        border-left: 16px solid #f5ba1a;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
      
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    } */
}